@font-face {
  font-family: "Earl Sans Black";
  src: url("../fonts/EarlSans-Black.woff2") format("woff2"), url("../fonts/EarlSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Earl Sans";
  src: url("../fonts/EarlSans-Regular.woff2") format("woff2"), url("../fonts/EarlSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h2 {
  font-size: 32px;
}

h6 {
  font-size: 16px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 12px;
}

h1 {
  font-size: 32px;
}
h1 b {
  color: #4E1C7F;
}

p {
  font-size: 14px;
}

span {
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Earl Sans Black";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: "Earl Sans";
  font-size: 14px;
  color: #3C4144;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
body.active {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: "Earl Sans";
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Earl Sans Black";
}

.header {
  padding: 10px 160px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.heroslide {
  position: relative;
  display: inline-block;
  width: 100%;
}
.heroslide img {
  width: 100%;
}

.box-email a {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  border-radius: 100px;
  padding: 0 20px;
  border: 1px solid #FFF;
  background: linear-gradient(176deg, #CD3019 2.94%, #8D2110 113.54%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.box-email a img {
  margin-right: 5px;
}
.box-email a span {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.box-hotline {
  border-radius: 100px;
  border: 1px solid #FFF;
  height: 40px;
  background: linear-gradient(176deg, #CD3019 2.94%, #8D2110 113.54%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-left: 15px;
  color: white;
  justify-content: center;
}
.box-hotline img {
  margin-right: 10px;
}
.box-hotline a {
  color: white;
  font-size: 16px;
}
.box-hotline span {
  color: 20px;
  margin: 0 10px;
}

.button-right {
  display: flex;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.section3 {
  padding: 60px 0;
  background: #D8F1F8;
  display: inline-block;
  width: 100%;
}
.section3 .col-md-3 {
  text-align: center;
}
.section3 img {
  height: 80px;
}
.section3 p {
  color: #6C727F;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  margin: 15px 0 0 0;
}

h2 {
  font-size: 40px;
  color: #0A4844;
}

.title-section {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.title-section p {
  color: #6C727F;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  max-width: 800px;
}
.title-section b {
  height: 80px;
  display: flex;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  align-items: center;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Earl Sans Black";
  margin: auto;
  padding: 0 30px;
  justify-content: center;
  border-radius: 50px;
  border: 4px solid #FFF;
  background: radial-gradient(74.38% 74.38% at 50% 50%, #785DE3 0%, #CFBAF5 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.4) inset;
  margin: 20px auto;
}
.title-section b span {
  color: #FFF500;
  font-family: "Earl Sans Black";
  font-size: 36px;
}

.col-item {
  text-align: center;
  flex: 0 0 20%;
  max-width: 20%;
}
.col-item img {
  height: 80px;
}
.col-item p {
  color: #0A4844;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  margin: 15px 0 0 0;
}

.section4 {
  padding: 60px 0;
  background: #72D0D5;
  display: inline-block;
  width: 100%;
}

.section5 {
  padding: 60px 0;
  background: #D8F1F8;
}
.section5 .title-section {
  position: relative;
  width: 100%;
  display: block;
  max-width: 800px;
  margin: auto;
}
.section5 .title-section::before {
  background: url(../images/section04-discount-1.png) no-repeat center;
  position: absolute;
  left: -100px;
  content: "";
  height: 126px;
  width: 117px;
  top: 0%;
}
.section5 .title-section::after {
  background: url(../images/section04-discount-2.png) no-repeat center;
  position: absolute;
  right: -100px;
  content: "";
  height: 126px;
  width: 117px;
  top: 0%;
}
.section5 .item-product {
  margin-top: 30px;
}
.section5 .item-product a {
  border-radius: 30px;
  background: url(<path-to-image>) lightgray 50%/contain no-repeat, #FFF;
}
.section5 .item-product a img {
  max-width: 100%;
  max-width: 100%;
}
.section5 .owl-nav {
  position: absolute;
  top: 31%;
  width: 100%;
}
.section5 .owl-nav button:nth-child(1) {
  position: absolute;
  left: -41px;
  top: 45%;
}
.section5 .owl-nav button:nth-child(1) span {
  font-size: 0px;
  color: #D8F1F8;
  position: relative;
  height: 40px;
  width: 60px;
}
.section5 .owl-nav button:nth-child(1) span::after {
  position: absolute;
  content: "";
  display: block;
  height: 40px;
  width: 26px;
  background: url(../images/prev-btn.svg) no-repeat center;
}
.section5 .owl-nav button:nth-child(2) {
  position: absolute;
  right: -21px;
  top: 45%;
}
.section5 .owl-nav button:nth-child(2) span {
  font-size: 0px;
  color: #D8F1F8;
  position: relative;
  height: 40px;
  width: 60px;
}
.section5 .owl-nav button:nth-child(2) span::after {
  position: absolute;
  content: "";
  display: block;
  height: 40px;
  width: 26px;
  background: url(../images/next-btn.svg) no-repeat center;
}
.section5 .owl-dots {
  display: none;
}

.item-product a .name-product a {
  box-shadow: none !important;
  font-family: "Earl Sans";
  font-weight: 700;
  text-shadow: none !important;
}

.name-product {
  position: relative;
  display: inline-block;
  min-height: 50px;
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}
.name-product a {
  font-size: 20px;
  color: #0A4844;
  text-decoration: none;
  height: 43px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.name-product a b {
  font-size: 20px;
  color: #0A4844;
  font-family: "Earl Sans";
  font-weight: 600;
}
.name-product img {
  position: absolute;
  right: 0;
  top: 15px;
  width: 34px !important;
  height: 34px !important;
}

.section5-bg {
  background: url(../images/background-section-6.png) no-repeat center;
  background-size: cover;
  display: inline-block;
  width: 100%;
  padding: 60px 0;
}
.section5-bg .title-section::before, .section5-bg .title-section::after {
  display: none !important;
}

.section7 .title-section {
  max-width: 1160px;
}
.section7 .title-section::before {
  top: 30%;
  left: 100px;
}
.section7 .title-section::after {
  top: 30%;
  right: 100px;
}

.services-perfect {
  background: #72D0D5;
}
.services-perfect h6 {
  text-transform: uppercase;
  color: white;
  font-family: "Earl Sans Black";
  font-size: 18px;
  margin-top: 20px;
}
.services-perfect p {
  font-family: "Earl Sans" !important;
  margin-top: 0;
  color: #0A4844 !important;
}

form {
  max-width: 700px;
  width: 100%;
  margin: auto;
}
form label {
  font-family: "Earl Sans";
  font-weight: 400;
}

.formcontact {
  background: white;
}
.formcontact form .form-group {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.formcontact form input {
  height: 55px;
  border-radius: 8px;
  border: 1px solid var(--Input-border-color, #D2D5DA);
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-family: "Earl Sans";
  font-weight: 400;
}
.formcontact form label {
  background: white;
  font-weight: 600;
  position: absolute;
  padding: 0 15px;
  left: 10px;
  top: -9px;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
.formcontact form button {
  border-radius: 100px;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, #D4321A 0%, #7C1C0E 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white !important;
  font-size: 24px;
  font-family: "Earl Sans";
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 60px;
  margin: auto;
  font-weight: 600;
  height: 60px;
  display: block;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
  background: #000;
}
footer h6, footer p {
  opacity: 0.6;
}
footer .link-footer {
  opacity: 0.6;
}

.inforleft-footer {
  display: inline-block;
  width: 100%;
}
.inforleft-footer h6, .inforleft-footer p {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.inforleft-footer h6 {
  color: white;
  font-size: 20px;
  font-family: "Earl Sans";
  font-weight: 600;
}
.inforleft-footer p {
  font-family: "Earl Sans";
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.linkfooter b {
  color: white;
  font-size: 16px;
  font-family: "Earl Sans";
  font-weight: 600;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.linkfooter a {
  display: inline-block;
  width: 100%;
  font-family: "Earl Sans";
  font-weight: 400;
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

section {
  overflow: hidden;
  float: left;
  width: 100%;
}

.popup-form {
  padding: 30px 60px;
  border-radius: 12px;
  background: white;
  border-radius: 20px;
  border: 2px solid #DBDBDB;
  background: #FFF;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}
.popup-form .close {
  position: absolute;
  right: 20px;
  top: 6px;
  font-size: 40px;
  font-weight: normal;
}
.popup-form h2 {
  font-size: 24px;
  line-height: 34px;
}

.modal-dialog, .modal-content, .modal-body.formcontact {
  background: none;
  border: 0;
  text-shadow: none;
  box-shadow: none;
}

.hotline-sticky {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 99;
}
.hotline-sticky img {
  width: 80px;
  position: absolute;
  top: -7px;
  left: -15px;
}
.hotline-sticky a {
  font-size: 30px;
  display: inline-block;
  padding: 3px 30px;
  padding-left: 80px;
  height: 60px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: "Earl Sans Black";
  border-radius: 50px;
  border: 4px solid #FFF;
  background: linear-gradient(180deg, #EA371C -24.37%, #71190C 124.37%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.4) inset;
}

.button-hero {
  position: absolute;
  left: 14%;
  height: 100%;
  width: 100%;
  max-width: 502px;
  display: flex;
  align-items: center;
  text-align: center;
  top: 36px;
}
.button-hero .content-slide img {
  margin-bottom: 40px;
}
.button-hero .content-slide a img {
  margin-bottom: 20px;
  width: 265px;
  animation: shake 0.9s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media only screen and (max-width: 1500px) {
  .button-hero {
    max-width: 421px;
  }
  .button-hero .content-slide img {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  .button-hero {
    max-width: 311px;
  }
  .button-hero .content-slide a img {
    margin-bottom: 20px;
    width: 195px;
  }
  .header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 24px;
  }
}
.slide-mb {
  display: none;
}

@media only screen and (max-width: 767px) {
  .section7 .title-section::before, .section7 .title-section::after {
    display: none;
  }
  footer {
    padding-bottom: 100px;
  }
  .modal-dialog, .modal-content, .modal-body.formcontact {
    padding: 0;
    margin: 0;
  }
  .header {
    padding: 0 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: initial;
    padding: 10px 0;
  }
  .header .logo {
    height: 40px;
  }
  .popup-form {
    padding: 20px;
    padding-top: 50px;
  }
  .box-email {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .box-hotline {
    display: inline-block;
    width: 100%;
  }
  .button-right {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
  }
  .formcontact form button {
    font-size: 18px;
  }
  .box-hotline {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .hotline-sticky img {
    width: 69px;
    position: absolute;
    top: -9px;
    left: -16px;
  }
  .hotline-sticky a {
    font-size: 18px;
    height: 50px;
    padding-left: 60px;
  }
  .col-item {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .section3 .col-md-3 {
    margin-bottom: 30px;
  }
  .section4 .row {
    display: inline-block;
    width: 100%;
    margin: auto;
  }
  .title-section b, .title-section b span {
    font-size: 20px;
  }
  .title-section b span {
    margin-left: 10px;
  }
  .section5 .owl-nav button:nth-child(1) {
    position: absolute;
    left: -15px;
    top: 15%;
  }
  .section5 .owl-nav button:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 45%;
  }
  .section5 .owl-nav {
    top: 15%;
  }
  .section3.services-perfect .col-md-3 {
    margin-bottom: 30px;
  }
  .heroslide {
    background: #b2dedd;
  }
  .slide-mb {
    display: inline-block;
    width: 100%;
  }
  .slide-pc {
    display: none;
  }
  .button-hero {
    left: inherit;
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: end;
    text-align: center;
    top: inherit;
    bottom: 0;
    justify-content: center;
    padding: 0 16%;
  }
  .button-hero .content-slide a img {
    margin-bottom: 20px;
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */